<!DOCTYPE html>
<html ng-app = "myApp" lang="ja">
<head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../Controllers/HomeController.js"></script>
</head>
<script type="text/ng-template" id="templates/input.html">
    <div>入力してください</div>
</script>
<body ng-controller = "HomeController">
    <uib-tabset>
        <uib-tab ng-repeat = "item in templates" heading = "{{item.title}}" active = "item.active" disable = "item.disabled" select = "logging(nab.title)">
            <div ng-include="item.url"></div>
        </uib-tab>
    </uib-tabset>
</body>
</html>