<div>
    <table>
        <tr>
            <td colspan="3">借方</td>
            <td colspan="3">貸方</td>
            <td>金額</td>
        </tr>
        <tr>
            <td>
                <select id="debitAccountLargeCategories[data.row]"
                        ng-model="debitAccountLargeCategories[data.row]"
                        ng-options="largeCategory.id as largeCategory.name for largeCategory in data.debitAccountLargeCategories"
                        ng-change="data.changeAccountCategory(debitAccountLargeCategories[data.row], true, true)">
                    <option value="">大分類</option>
                </select>
            </td>
            <td>
                <select id="debitAccountSmallCategories[data.row]"
                        ng-model="debitAccountSmallCategories[data.row]"
                        ng-options="smallCategory.id as smallCategory.name for smallCategory in data.debitAccountSmallCategories"
                        ng-change="data.changeAccountCategory(debitAccountSmallCategories[data.row], true, false)">
                    <option value="">小分類</option>
                </select>
            </td>
            <td>
                <select id="debitAccounts[data.row]"
                        ng-model="debitAccount"
                        ng-options="account.id as account.name for account in data.debitAccounts">
                    <option value="">科目</option>
                </select>
            </td>
            <td>
                <select id="creditAccountLargeCategories[data.row]"
                        ng-model="creditAccountLargeCategories[data.row]"
                        ng-options="largeCategory.id as largeCategory.name for largeCategory in data.creditAccountLargeCategories"
                        ng-change="data.changeAccountCategory(creditAccountLargeCategories[data.row], false, true)">
                    <option value="">大分類</option>
                </select>
            </td>
            <td>
                <select id="creditAccountSmallCategories[data.row]"
                        ng-model="creditAccountSmallCategories[data.row]"
                        ng-options="smallCategory.id as smallCategory.name for smallCategory in data.creditAccountSmallCategories"
                        ng-change="data.changeAccountCategory(creditAccountSmallCategories[data.row], false, false)">
                    <option value="">小分類</option>
                </select>
            </td>
            <td>
                <select id="creditAccounts[data.row]"
                        ng-model="creditAccount"
                        ng-options="account.id as account.name for account in data.creditAccounts">
                    <option value="">科目</option>
                </select>
            </td>
            <td>
                <input type="text" id="amount[data.row]" ng-model="data.amount">
            </td>
        </tr>
    </table>
</div>
