<div>
    <table>
        <tr>
            <td colspan="3">借方</td>
            <td colspan="3">貸方</td>
            <td>金額</td>
        </tr>
        <tr>
            <td>
                <select id="debitAccountLargeCategory"
                        ng-model="debitAccountLargeCategoryId"
                        ng-options="largeCategory.id as largeCategory.name for largeCategory in debitAccountLargeCategories"
                        ng-change="selectAccountCategory(debitAccountLargeCategoryId, true, true)">
                    <option value="">大分類</option>
                </select>
            </td>
            <td>
                <select id="debitAccountSmallCategory"
                        ng-model="debitAccountSmallCategoryId"
                        ng-options="smallCategory.id as smallCategory.name for smallCategory in debitAccountSmallCategories"
                        ng-change="selectAccountCategory(debitAccountSmallCategoryId, true, false)">
                    <option value="">小分類</option>
                </select>
            </td>
            <td>
                <select id="debitAccount"
                        ng-model="debitAccountId"
                        ng-options="account.id as account.name for account in debitAccounts">
                    <option value="">科目</option>
                </select>
            </td>
            <td>
                <select id="creditAccountLargeCategory"
                        ng-model="creditAccountLargeCategoryId"
                        ng-options="largeCategory.id as largeCategory.name for largeCategory in creditAccountLargeCategories"
                        ng-change="selectAccountCategory(creditAccountLargeCategoryId, false, true)">
                    <option value="">大分類</option>
                </select>
            </td>
            <td>
                <select id="creditAccountSmallCategory"
                        ng-model="creditAccountSmallCategoryId"
                        ng-options="smallCategory.id as smallCategory.name for smallCategory in creditAccountSmallCategories"
                        ng-change="selectAccountCategory(creditAccountSmallCategoryId, false, false)">
                    <option value="">小分類</option>
                </select>
            </td>
            <td>
                <select id="creditAccount"
                        ng-model="creditAccountId"
                        ng-options="account.id as account.name for account in creditAccounts">
                    <option value="">科目</option>
                </select>
            </td>
            <td>
                <input id="amount" type="text" ng-model="amount">
            </td>
        </tr>
    </table>
</div>
<journalization-detail></journalization-detail>